:root {
  // Шрифты
  --font-size-m: 1rem;
  --font-line-m: calc(var(--font-size-m) + 8px);
  --font-m: var(--font-size-m)/var(--font-line-m) "Monospace", sans-serif;
  
  --font-size-l: 2rem;
  --font-line-l: calc(var(--font-size-l) + 8px);
  --font-l: var(--font-size-l)/var(--font-line-l) "Monospace", sans-serif;

  // Размеры
  --header-height: 4rem;
  --sidebar-width: 18rem;
  --sidebar-width-closed: 6rem;
}
