.SideBar {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5em;
  height: calc(100vh - var(--header-height));
  width: var(--sidebar-width);
  background-color: var(--sidebar-bg-color);
  transition: width 0.5s;
  position: relative;
}

.closed {
  width: var(--sidebar-width-closed);
}

.switchers {
  position: absolute;
  bottom: 1rem;
}
