.button {
  padding: 1rem 2rem;
  background-color: rgb(68, 187, 226);
  color: white;
  border-radius: 1rem;
  border: none;

  &:hover {
    background-color: rgb(27, 177, 228);
    cursor: pointer;
  }
}
