.dark {
  --bg-color: rgb(22, 84, 105);
  --inverted-bg-color: lightblue;
  
  --primary-color: #fff;
  --secondary-color: rgb(144, 208, 230);
  
  --inverted-primary-color: rgb(22, 84, 105);
  --inverted-secondary-color: rgb(45, 130, 158);
}
