.light {
  --bg-color: lightblue;
  --inverted-bg-color: rgb(22, 84, 105);
  
  --primary-color: rgb(22, 84, 105);
  --secondary-color: rgb(45, 130, 158);

  --inverted-primary-color: #fff;
  --inverted-secondary-color: rgb(144, 208, 230);
}
