@import './styles/variables/global.scss';
@import './styles/themes/light.scss';
@import './styles/themes/dark.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  min-height: 100vh;
  
  background-color: var(--bg-color);
  color: var(--primary-color);
  font: var(--font-m);
}